# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL=postgresql://pritam:9749215498@localhost:5432/pritamdb?schema=public

# Connection pooling URL (used in production)
POSTGRES_PRISMA_URL="postgresql://postgres:9749215498@localhost:5434/pritamdb?connection_limit=10"

# Direct connection URL (used in development or migrations)
POSTGRES_URL_NON_POOLING="postgresql://postgres:9749215498@localhost:5434/pritamdb"


POSTGRES_USER= pritam
POSTGRES_PASSWORD= 9749215498
POSTGRES_DB= pritamdb
NEXTAUTH_SECRET = "pritamismyname"
GOOGLE_ID=844187725042-kb3ihp3kjftul49698r0d2bndmvvd9ec.apps.googleusercontent.com
GOOGLE_SECRET=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
GITHUB_ID=
GITHUB_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY = pk_test_51OmBgjSCPxF1ZilcksoW7uqBBzSwsDNZxEtkadAGZPrvygPBXVQYYl9MdcBJ6JoPOqEnCmkj76oXOEOZIQPPTiXI00ZKVnOWwD
STRIPE_SECRET_KEY = sk_test_51OmBgjSCPxF1Zilc6wx9AbACX2XjZn7cekIdHwQCdu0cBq82ZdC1DHlRt4L1fnXeYdEVcH3DVQyysJzcX0RG8K1r007vXCncnY
INDIAN_democard = 4000 0035 6000 0008
CLOUDINARY_NAME =  pritam32raha
CLOUDINARY_API_KEY = 936221388367256
CLOUDINARY_SECRET_KEY = dakuIS3EFwxKk5XIatfZi5ee9hM