# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://pritam:9749215498@localhost:5432/pritamdb?schema=public"

POSTGRES_USER= pritam
POSTGRES_PASSWORD= 9749215498
POSTGRES_DB= pritamdb
NEXTAUTH_SECRET = "pritamismyname"
GOOGLE_ID=844187725042-kb3ihp3kjftul49698r0d2bndmvvd9ec.apps.googleusercontent.com
GOOGLE_SECRET=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
GITHUB_ID=
GITHUB_SECRET=